body {
	background-color: #fff;
	margin: 0;
	font-family: sans-serif;
	font-size: 16px;
}

/*///////////////////// HEADER /////////////////////////*/
.main_head {
	width: 100%;
	background-color: #DFDFDF;
}
.header_cont {
	width: 1110px;
	margin: auto;
}

.header_left {
	display: inline-block;
	height: 65px;
	line-height: 65px;
}

.header_left ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.header_left ul li {
	display: inline-block;
	margin-right: 26px;
	font-size: 16px;
}
.header_left ul li:nth-child(4) {
	margin-right: 0;
}	
.header_left ul li a {
	text-decoration: none;
	color: #489AFF;
}

.header_right {
	display: inline-block;
	float: right;
	height: 65px;
	margin-right: 6px;
	line-height: 65px;
}
.header_right .search_form .search_input {
	padding: 9px 10px;
	border: none;
	width: 140px;
	margin-right: 15px;
	font-size: 16px;
}

.search_btn {
	background-color: #489AFF;
	border: none;
	cursor: pointer;
	color: #fff;
	font-size: 12px;
	line-height: 40px;
	height: 39px;
}

/*////////////////////// LOGO ///////////////*/
.logo_wrapper {
	width: 950px;
	height: 120px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
.logo_left {
	width: 300px;
	height: 120px;
	background-color: #C0C0C0;
	color: #fff;
	text-transform: uppercase;
	font-size: 38px;
	text-align: center;
	line-height: 120px;
	display: inline-block;
	margin-right: 20px;
	vertical-align: top;
}
.logo_right {
	width: 625px;
	height: 120px;
	background-color: #938B8B;
	display: inline-block;
}

/*/////////////////////// MENU /////////////////////////*/

.menu_wrapper {
	width: 100%;
	background-color: #DFDFDF;
}
.menu_cont {
	width: 950px;
	margin: auto;
	height: 65px;
	line-height: 65px;
}
.main_mnu .hover_ul_1{
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: inline-block;
	margin-right: 42px;
}
.main_mnu .hover_ul_1:last-child {
	margin-right: 0;
}
.li_1 {
	width: 115px;
	position: relative;
	cursor: pointer;
}
.li_1::after {
	content: '';
	display: block;
	height: 0;
	width: 0;
	position: absolute;
	top: 28px;
	right: 4px;
	border-left: 5px solid #489AFF;
	border-top: 6.5px solid transparent;
	border-bottom: 6.5px solid transparent;
}
.main_mnu .hover_ul_1 .a_1 {
	text-decoration: none;
	color: #489AFF;
	-webkit-transition: color .3s ease;
	-o-transition: color .3s ease;
	transition: color .3s ease;
}
.li_1:hover .a_1 {
	color: #4C79B0;
}
.hover_ul_2 {
	padding: 0;
	margin: 0;
	list-style-type: none;
	position: absolute;
	width: 115px;
	background-color: #fff;
	top: -9999px;
	opacity: 0;
	border: 1px solid #C5C1C1;
	-webkit-transition: margin-top .2s ease,opacity .5s ease;
	-o-transition: margin-top .2s ease,opacity .5s ease;
	transition: margin-top .2s ease,opacity .5s ease;
	z-index: 10;
}
.hover_ul_2 .li_2 {
	text-align: center;
	height: 40px;
	line-height: 40px;
}
.li_2 > a {
	text-decoration: none;
	color: #489AFF;
}
.li_2:nth-child(2) {
	position: relative;
}
.li_2:nth-child(2):after {
	content: '';
	display: block;
	height: 0;
	width: 0;
	position: absolute;
	top: 15px;
	right: 11px;
	border-left: 5px solid #489AFF;
	border-top: 6.5px solid transparent;
	border-bottom: 6.5px solid transparent;
}
.li_2:nth-child(2):hover .a_2 {
	color: #4C79B0;
}
.hover_ul_3 {
	position: absolute;
	list-style-type: none;
	padding: 0;
	right: -117px;
	width: 115px;
	height: 82px;
	border: 1px solid #C5C1C1;
	background-color: #fff;
	top: -9999px;
	opacity: 0;
	-webkit-transition: opacity .5s ease;
	-o-transition: opacity .5s ease;
	transition: opacity .5s ease;
}
.li_2:nth-child(2):hover .hover_ul_3{
	top: -3px;
	opacity: 1;
}
.li_3 > a {
	color: #489AFF;
	text-decoration: none;
}
.li_1:hover .hover_ul_2 {
	opacity: 1;
	top: 65px;
	margin-top: -10px;
}

/*////////////////////// SECONDARY CONTENT //////////////////*/

.second_cont {
	width: 950px;
	margin: auto;
	margin-top: 20px;
	height: 300px;
	margin-bottom: 20px;
	position: relative;
}
.big_box {
	width: 590px;
	height: 300px;
	background-color: #C0C0C0;
	display: inline-block;
}
.small_1 {
	position: absolute;
	top: 0;
	right: 0;
	width: 340px;
	height: 140px;
	margin-bottom: 20px;
	background-color: #938B8B;
}
.small_2 {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 340px;
	height: 140px;
	background-color: #C0C0C0;
}

/*///////////////////////// BREAKING NEWS ////////////////////*/

.text_header {
	width: 980px;
	margin: auto;
	text-align: center;
	padding: 25px 0;
	text-transform: uppercase;
	border-top: 2px solid #C0C0C0;
	border-bottom: 2px solid #C0C0C0;
	color: #757575;
	font-size: 21px;
	margin-bottom: 20px;
}

.news_cont {
	width: 950px;
	margin: auto;
	margin-bottom: 20px;
}
.news_item {
	width: 211px;
	height: 211px;
	background-color: #C0C0C0;
	margin-right: 30px;
	display: inline-block;
}
.news_item:last-child {
	margin-right: 0;
}

/*////////////////////// LATEST STORIES ///////////*/

.story_wrapper {
	width: 950px;
	margin: auto;
	margin-top: 20px;
	position: relative;
}
.items {
	width: 666px;
	border-right: 2px solid #DFDFDF;
	margin-bottom: 20px;
}
.item {
	position: relative;
	padding-bottom: 20px;
	border-bottom: 2px solid #C0C0C0;
	width: 650px;
}
.item:last-child {
	margin-top: 20px;
	padding-bottom: 0;
	border-bottom: none;
}
.item_img {
	width: 300px;
	height: 200px;
	background-color: #DFDFDF;
	margin-right: 20px;
}
.item_text {
	position: absolute;
	top: 0;
	right: 0;
	width: 330px;
	text-align: left;
}
.item_text h2 {
	font-size: 18px;
}
.item_text h2 a {
	text-decoration: none;
	color: #60A7FF;
}
.item_text p {
	width: 250px;
	color: #737373;
}
.side_bar {
	position: absolute;
	top: 0;
	right: 0;
	width: 264px;
	margin-top: 10px;
}
.follow_item {
	display: inline-block;
	margin-right: 30px;
	margin-bottom: 30px;
}
.follow_item:nth-child(3), .follow_item:nth-child(6) {
	margin-right: 0;
}
.follow_item .circle {
	width: 26px;
	height: 26px;
	background-color: #938B8B;
	border-radius: 10em;
	margin: auto;
}
.follow_item p {
	text-transform: uppercase;
	font-size: 10px;
	text-align: center;
	margin-bottom: 0;
}
.last_p {
	margin: 0;
}
.our_friends {
	font-size: 19px;
	margin-top: 0;
	text-align: center;
	text-transform: uppercase;
	color: #434343;
}
.buy_me {
	width: 264px;
	height: 200px;
	background-color: #DFDFDF;
	text-align: center;
	line-height: 200px;
	text-transform: uppercase;
	font-size: 22px;
	color: #fff;
}
.prev_next_wrapper {
	width: 950px;
	margin: auto;
}
.prev_next {
	width: 630px;
	border-top: 2px solid #C0C0C0;
	padding: 20px 0 30px 20px;
}
.prev_next a {
	font-size: 16px;
	text-decoration: none;
	margin-right: 15px;
}
.prev_next .prev {
	color: #DEDEDE;
}
.prev_next .active {
	color: #fff;
	background-color: #6AA9FF;
	padding: 10px 15px;
}
.prev_next .passive {
	color: #9A9292;
}
.prev_next .next {
	color: #676767;
}
.social_cont_wrapper {
	width: 950px;
	margin: auto;
	border: 1px solid #938B8B;
	background-color: #F7F4F4;
}
.soc_cont {
	width: 280px;
	padding: 20px 0px 56px 20px;
	display: inline-block;
	vertical-align: top;
}
.soc_cont p {
	margin-top: 0;
	text-transform: uppercase;
	font-size: 16px;
	color: #3C3C3C;
}
.soc_cont .img_box {
	display: inline-block;
	width: 59px;
	height: 59px;
	border: 3px solid #fff;
	background-color: #DFDFDF;
	margin-right: 2px;
}
.soc_cont .img_box:nth-child(5), .soc_cont .img_box:last-child {
	margin-right: 0;
}
.soc_cont .black_item {
	padding: 4px 14px;
	background-color: #343432;
	display: inline-block;
	color: #fff;
	font-size: 12px;
	margin-bottom: 6px;
	cursor: pointer;
}
.soc_cont .black_item:nth-child(2) {
	padding: 4px 12px;
}
.soc_cont .black_item:nth-child(4) {
	padding: 4px 9px;
}
.soc_cont .black_item:nth-child(5),.soc_cont .black_item:nth-child(6), .soc_cont .black_item:last-child {
	padding: 4px 7px;
}
.lorem_bot {
	color: #3C3C3C;
}

/*///////////////////// FOOTER //////////////////////*/

.main_footer {
	width: 950px;
	background-color: #343432;
	margin: auto;
	border: 1px solid #343432;
}
.footer_left {
	padding-left: 20px;
	color: #65A2F4;
	display: inline-block;
	height: 50px;
	line-height: 50px;
}
.footer_left .span_left {
	margin-right: 18px;
}
.footer_right {
	display: inline-block;
	float: right;
	padding-right: 20px;
	color: #65A2F4;
	height: 50px;
	line-height: 50px;
}







